/*about */
.wave-container {
    background-size: 100% auto;
    position: relative;
    max-width: 4000px;
    margin: 0 auto;

}

#about:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    background-image: url("./wave-bottom.svg");
    height: 31%;
    transform: rotate(180deg);
    background-size: cover;
    border: none;


}

#about {
    width: 100%;
    max-width: 4000px;
    margin: 1em auto;
    background-color: #6499E9;
    position: relative;
    height: 83em;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.headline-about-me h1 {
    font-family: var(--font2);
}

#about:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: url("./wave-bottom.svg");
    background-size: cover;
    fill: #9EDDFF;
    height: 35%;


}

.headline {
    margin: 1em;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    position: relative;
    z-index: 1;
    color: #fb6fda;


}

.headline-about-me {
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    position: absolute;
    z-index: 1;
    color: #fb6fda;
    font-family: var(--font2);
}



.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-text h2 {
    font-size: 2em;
    margin-bottom: 0.2em;
}

.avatar {

    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1em;


}

.avatar img {
    width: 100%;
}



.about-me-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 1em 0;
    z-index: 1;


}

#about p {
    width: 85%;
    margin: 1em 0;
    line-height: 1.6em;
    font-size: 1.3rem;
    text-align: justify;
    font-weight: 500;


}

@media screen and (min-width: 4095px) {

 

    .wave-container {
        max-width: 5120px;
            
    }

    #about {
        max-width: 5120px;
        height: 120em;
   
    }


   #about:after {
    height: 45%;
   }

   .headline-about-me {
    top: 5em;
   }
    
}

@media screen and (min-width: 3840px) {
    #about:before {
        height: 38%;
    }
    
}

@media (max-width: 1143px) {

    #about {
        height: 80em;
        height: 99em;
    }

    #about:after {
        height: 19em;

    }

    .about-me {
        flex-direction: column;
        align-items: center;
    }

    .avatar {
        padding-right: 0;
        margin-bottom: 1em;
        margin-top: 2em;

    }

    .avatar img {
        width: 100%;
    }

    .about-me-text {
        width: 90%;
        text-align: center;
    }

    #about p {
        width: 100%;

    }


}


@media (max-width: 890px) {


    #about {
        height: 80em;
        height: 100em;

    }

    #about:after {
        height: 19em;

    }

}


@media (max-width: 650px) {


    #about {
        height: 85em;
        height: 105em;

    }

    #about:after {
        height: 19em;

    }

}

@media (max-width: 500px) {

    #about {
        height: 85em;
        height: 110em;
    }

    #about:after {
        height: 19em;

    }



}

@media (max-width: 470px) {

    #about {
        height: 90em;
        height: 125em;
    }

    #about:after {
        height: 19em;

    }

}

@media (max-width: 426px) {

    #about {
        height: 95em;
        height: 124em;
    }

    #about:after {
        height: 19em;

    }

}

@media (max-width: 386px) {

    #about {
        height: 100em;
        height: 130em;
    }

    #about:after {
        height: 19em;

    }

    #about:before {
        height: 47%;
    }

   

}

@media (max-width: 350px) {

    #about {
        height: 110em;
        height: 135em;
    }

    #about:after {
        height: 19em;

    }
    #about:before {
        height: 46%;
    }



}
@media (max-width: 320px) {

   
    #about:before {
        height: 47%;
    }



}

