#skills {
    width: 100%;
    max-width: 1500px;
    margin-top: -2em;
    margin: -2em auto 0;
}

#skills h1 {
    font-family: var(--font2);
}

.hexagon-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 1em auto;
    justify-content: center;
    align-items: center;

}





.hexagon {

    position: relative;
    margin: 0 auto;
    /*To Add effect on the background*/
    background: linear-gradient(to left,
            DarkBlue, DodgerBlue);
    border-radius: 10px;
    width: 145px;
    height: 88px;
    box-sizing: border-box;
    transition: all 1s;
    border: .25em solid transparent;
    border-top-color: dodgerblue;
    border-bottom-color: dodgerblue;
}

.hexagon:before,
.hexagon:after {
    content: "";
    border: inherit;
    position: absolute;
    top: -0.3em;
    left: -0.3em;
    background: linear-gradient(to left,
            DarkBlue, DodgerBlue);
    border-radius: inherit;
    height: 100%;
    width: 100%;
}

.hexagon:before {
    transform: rotate(60deg);
}

.hexagon:after {
    transform: rotate(-60deg);
}

.icon {
    font-size: 3.2em;
    position: absolute;
    z-index: 1;
    left: 32%;
    top: 5%;
    color: #FF6AC2;
    transform: rotate(30deg);
}

#skills p {
    position: relative;
    z-index: 3;
    text-align: center;
    top: 4.6em;
    right: 1.5em;
    transform: rotate(30deg);
}


.hex {
    width: 200px;
    margin: 4em 0;
}

.hexagon.right {
    transform: translateX(180%);
    opacity: 0;
}

.hexagon.left {
    transform: translateX(-180%);
    opacity: 0;
}

.slide-in {
    transform: translateX(0) !important;
    opacity: 1 !important;
}

@media screen and (max-width: 1024px) {

    .hexagon.right {
        transform: translateX(150%);
        opacity: 0;
    }

    .hexagon.left {
        transform: translateX(-150%);
        opacity: 0;
    }

    .slide-in {
        transform: translateX(0) !important;
        opacity: 1 !important;
    }


}

@media screen and (max-width: 770px) {

    .hexagon.right {
        transform: translateX(100%);
        opacity: 0;
    }

    .hexagon.left {
        transform: translateX(-100%);
        opacity: 0;
    }

    .slide-in {
        transform: translateX(0) !important;
        opacity: 1 !important;
    }


}

@media screen and (max-width: 430px) {

    .hexagon.right {
        transform: translateX(70%);
        opacity: 0;
    }

    .hexagon.left {
        transform: translateX(-70%);
        opacity: 0;
    }

    .slide-in {
        transform: translateX(0) !important;
        opacity: 1 !important;
    }


}

@media screen and (max-width: 350px) {

    .hexagon.right {
        transform: translateX(0);
        opacity: 0;
    }

    .hexagon.left {
        transform: translateX(0);
        opacity: 0;
    }

    .slide-in {
        transform: translateX(0) !important;
        opacity: 1 !important;
    }


}